*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    background: rebeccapurple;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin: 5px;
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
}

.card,
.front,
.back {
    height: 180px;
    width: 180px;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    background: darkorchid no-repeat center center / contain;
}

.back {
    transform: rotateY(180deg);
    background-color: rebeccapurple;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: rebeccapurple !important;
}